
{% extends "base.html" %}
{% load static %}
{% block content %}
<p>Sua Origem é: {{ form.origem.value }}</p>
<p>Ser Destino é: {{ form.destino.value }}</p>
<p>Sua Data de Ida é: {{ form.data_ida.value }}</p>
<p>Sua Data de volta é: {{ form.data_volta.value }}</p>
<p>Pesquisa realizada: {{ form.data_pesquisa.value }}</p>
<p>Classe de vôo: {{ form.instance.get_classe_viagem_display }}</p>
<p>Informações extras: {{ form.informacoes.value }}</p>
<p>Seu Email é: {{ pessoa_form.email.value }}</p>
{% endblock %}